<h1>Password Reset</h1>
<p>Hello <%= @user.full_name %>,</p>
<p>Click the link below to reset your password:</p>
<a href="<%= "#{ENV['FRONT_END_URL']}/reset-password?token=#{@user.reset_password_token}" %>">Reset Password</a>
