<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <style>
      /* Email styles need to be inline */
      body {
        font-family: 'Inter';
        background: black;
        height: fit-content;
      }

      .card {
        background: white;
        border-radius: 10px;
        padding: 15px;
        color: black;
        font-size: 12px;
      }

      .site-name {
        font-size: 18px;
        font-weight: bold;
      }

      h1 {
        font-size: 16px;
      }

      .card-body {
        
      }
      
      .quote {
        padding: 0 20px;
      }

    </style>
  </head>

  <body>
    <div class="card">
      <div class="site-name">Project Management System</div>
      <div class="card-body"> 
        <%= yield %>
      </div>
    </div>
  </body>
</html>
